/* Write your code here. */
.list-container {
  list-style-type: none;
}

.un-active-image {
  opacity: 0.5;
}
.button {
  background-color: transparent;
  border: 0px;
}

@media screen and (min-width: 765px) {
  .thumbnail-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
}
